.button
    width: 120px
    height: 47px
    background: #7854F7
    border-radius: 5px
    border: none
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 21px
    color: #FFFFFF
    text-align: center
    &__sub-start
        width: 267px
        height: 72px
        border-radius: 60px
        margin-right: 12px