.header
    width: 100%
    padding: 37px 55px
    background-image: url(../img/headerVec.svg)
    background-position: 100% top
    background-repeat: no-repeat
    background-size: 40% 80%
    height: 1117px
    &__logo
        align-self: center
    &__navMenu
        margin-left: -144px
        font-weight: 500
        font-size: 18px
    &__login-link
        margin-right: 38px
        font-weight: 500
        font-size: 18px
        color: $txtMain-color
        text-decoration: none
    &__search-icon
        margin-left: 30px
